body {
    color: #3b3b3b;
    background-color: #1c1c1c;
}

.nk-main {
    overflow: hidden;
    background-color: #fff;
}

body.nk-page-boxed {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: #c18d8d;
}

a:focus,
a:hover {
    color: #af6c6c;
}

::-moz-selection {
    color: #fff;
    background-color: #3b3b3b;
}

::selection {
    color: #fff;
    background-color: #3b3b3b;
}

.nk-block {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}

.nk-block::after, .nk-block::before {
    content: "";
    display: table;
    clear: both;
}

.bg-image,
.bg-video {
    position: absolute;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1;
}

.bg-image > div,
.bg-video > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 50%;
    background-size: cover;
}

.bg-image img,
.bg-video img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "object-fit: cover;";
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;
}

.bg-video {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-image-row,
.bg-video-row,
.bg-map-row {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.bg-image-row > div,
.bg-video-row > div,
.bg-map-row > div {
    height: 100%;
    overflow: hidden;
}

@media (max-width: 991px) {
    .bg-image-row,
    .bg-video-row,
    .bg-map-row {
        position: relative;
    }
    .bg-image-row > div,
    .bg-video-row > div,
    .bg-map-row > div {
        padding-top: 56.25%;
    }
    .bg-image-row > div > div,
    .bg-video-row > div > div,
    .bg-map-row > div > div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.bg-map-row {
    z-index: auto;
}

.bg-map-row .nk-gmaps {
    height: 100%;
    z-index: 1;
}

@media (max-width: 991px) {
    .bg-map-row {
        position: relative;
    }
    .bg-map-row > div {
        padding-top: 0;
    }
    .bg-map-row > div > div {
        position: relative;
    }
    .bg-map-row .nk-gmaps {
        height: 300px;
    }
    .bg-map-row .nk-gmaps-sm {
        height: 250px;
    }
    .bg-map-row .nk-gmaps-md {
        height: 450px;
    }
    .bg-map-row .nk-gmaps-lg {
        height: 550px;
    }
    .bg-map-row .nk-gmaps-full {
        height: 700px;
        height: 100vh;
        min-height: 700px;
    }
}

.bg-color {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1c1c1c;
    z-index: -1;
}

.nk-gap,
.nk-gap-1,
.nk-gap-2,
.nk-gap-3,
.nk-gap-4,
.nk-gap-5,
.nk-gap-6 {
    display: block;
    height: 20px;
}

.nk-gap::after, .nk-gap::before,
.nk-gap-1::after,
.nk-gap-1::before,
.nk-gap-2::after,
.nk-gap-2::before,
.nk-gap-3::after,
.nk-gap-3::before,
.nk-gap-4::after,
.nk-gap-4::before,
.nk-gap-5::after,
.nk-gap-5::before,
.nk-gap-6::after,
.nk-gap-6::before {
    content: "";
    display: table;
    clear: both;
}

.nk-gap-1 {
    height: 30px;
}

.nk-gap-2 {
    height: 40px;
}

.nk-gap-3 {
    height: 60px;
}

.nk-gap-4 {
    height: 80px;
}

.nk-gap-5 {
    height: 100px;
}

.nk-gap-6 {
    height: 120px;
}

.nk-body-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.nk-gmaps {
    width: 100%;
    height: 300px;
}

.nk-gmaps-sm {
    height: 250px;
}

.nk-gmaps-md {
    height: 450px;
}

.nk-gmaps-lg {
    height: 550px;
}

.nk-gmaps-full {
    height: 700px;
    height: 100vh;
    min-height: 700px;
}

.nk-badge {
    display: inline-block;
    min-width: 15px;
    height: 15px;
    padding: 0 4px;
    font-size: 10px;
    line-height: 15px;
    color: #1c1c1c;
    text-align: center;
    background-color: #fff;
    border-radius: 7.5px;
}

.nk-navbar li > .nk-badge {
    position: absolute;
    top: 0;
    right: 5px;
    color: #542e2e;
    background-color: #c18d8d;
}

.nk-scroll-top {
    cursor: pointer;
}

pre {
    position: relative;
    max-height: 500px;
    padding: 25px;
    line-height: 1.3;
    color: #fff;
    background-color: #303030;
}

pre .tag {
    display: inline-block;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: 0;
}

pre[class*="language-"] {
    margin: 0;
}

/*  DEPRECATED, added for back compatibility */
.nk-vertical-center,
.nk-vertical-bottom,
.nk-vertical-top {
    display: table;
    width: 100%;
    height: 100%;
}

.nk-vertical-center > div,
.nk-vertical-bottom > div,
.nk-vertical-top > div {
    display: table-cell;
    vertical-align: middle;
}

.nk-vertical-bottom > div {
    vertical-align: bottom;
}

.nk-vertical-top > div {
    vertical-align: top;
}

.row.no-gap {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gap > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.text-xs-center {
    text-align: center;
}

.text-xs-left {
    text-align: left;
}

.text-xs-right {
    text-align: right;
}

.pull-xs-right {
    float: right;
}

.pull-xs-left {
    float: left;
}

.pull-xs-none {
    float: none;
}

/*------------------------------------------------------------------

  Typography

 -------------------------------------------------------------------*/
html {
    font-size: 15px;
}

body {
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
}

p {
    margin-bottom: 1.5rem;
}

b,
strong {
    font-weight: 600;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.display-1,
.display-2,
.display-3,
.display-4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.display-1 {
    font-size: 4.7rem;
}

.display-2 {
    font-size: 4.2rem;
}

.display-3 {
    font-size: 3.7rem;
}

.display-4 {
    font-size: 3.2rem;
}

/* Title */
.nk-title {
    position: relative;
    z-index: 1;
}

/* Sub Title */
.nk-sub-title {
    position: relative;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
    line-height: inherit;
    color: #c18d8d;
    z-index: 1;
}

.nk-title + .nk-sub-title {
    margin-top: -10px;
}

/* Back title */
.nk-title-back {
    margin-bottom: 0;
    font-size: 6rem;
    color: inherit;
    opacity: .1;
}

.nk-title-back + * {
    position: relative;
    margin-top: -40px;
}

.nk-title-back + .nk-sub-title {
    margin-top: -50px;
}

/* Title Separator */
.nk-title-sep {
    display: block;
    margin: 30px auto;
    line-height: 0;
    color: inherit;
}

.nk-title-sep::after {
    content: "";
    display: inline-block;
    width: 80%;
    max-width: 80px;
    vertical-align: middle;
    border-bottom: 1px dotted;
    opacity: .4;
}

.nk-title-sep-icon {
    display: block;
    margin: 30px auto;
    line-height: 0;
    color: inherit;
}

.nk-title-sep-icon .icon {
    font-size: 1.9rem;
    vertical-align: middle;
}

.nk-title-sep-icon::before, .nk-title-sep-icon::after {
    content: "";
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    border-bottom: 1px dotted;
    opacity: .4;
}

.nk-title-sep-icon::before {
    margin-right: 20px;
}

.nk-title-sep-icon::after {
    margin-left: 20px;
}

/* mega menu titles */
.nk-mega-item > .dropdown > ul li > label {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

/*------------------------------------------------------------------

  Bootstrap

 -------------------------------------------------------------------*/
.nk-sidebar-sticky-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.nk-sidebar-sticky-parent > .nk-sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.row.vertical-gap > [class*="col-"] {
    padding-top: 30px;
}

.row.vertical-gap {
    margin-top: -30px;
}

.row.sm-gap {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.row.sm-gap > [class*="col-"] {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.row.sm-gap.vertical-gap > [class*="col-"] {
    padding-top: 15px;
}

.row.sm-gap.vertical-gap {
    margin-top: -15px;
}

.row.md-gap {
    margin-right: -22.5px;
    margin-left: -22.5px;
}

.row.md-gap > [class*="col-"] {
    padding-right: 22.5px;
    padding-left: 22.5px;
}

.row.md-gap.vertical-gap > [class*="col-"] {
    padding-top: 45px;
}

.row.md-gap.vertical-gap {
    margin-top: -45px;
}

.row.lg-gap {
    margin-right: -30px;
    margin-left: -30px;
}

.row.lg-gap > [class*="col-"] {
    padding-right: 30px;
    padding-left: 30px;
}

.row.lg-gap.vertical-gap > [class*="col-"] {
    padding-top: 65px;
}

.row.lg-gap.vertical-gap {
    margin-top: -65px;
}

.thead-default th {
    color: #3b3b3b;
    background-color: #f7f7f7;
}

.table thead th,
.table td,
.table th {
    border-color: #f2f2f2;
}

.nk-modal .modal-content {
    border: none;
    border-radius: 0;
}

.nk-modal .modal-header,
.nk-modal .modal-footer {
    padding: 25px 30px;
    border-top-color: #f3f3f3;
    border-bottom-color: #f3f3f3;
}

.nk-modal .modal-header .close,
.nk-modal .modal-footer .close {
    position: relative;
    margin-top: -11px;
    z-index: 2;
}

.nk-modal .modal-body {
    padding: 30px;
}

.nk-modal.fade .modal-dialog {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}

@media (min-width: 576px) {
    .nk-modal .modal-dialog {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
/*
 * Image Fit
 */
.nk-img-fit,
.nk-img,
.nk-img-fit img,
.nk-img img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 575px) {
    .nk-img-fit-xs-down,
    .nk-img-fit-xs-down img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 576px) {
    .nk-img-fit-sm-up,
    .nk-img-fit-sm-up img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .nk-img-fit-sm-down,
    .nk-img-fit-sm-down img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .nk-img-fit-md-up,
    .nk-img-fit-md-up img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 991px) {
    .nk-img-fit-md-down,
    .nk-img-fit-md-down img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 992px) {
    .nk-img-fit-lg-up,
    .nk-img-fit-lg-up img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1199px) {
    .nk-img-fit-lg-down,
    .nk-img-fit-lg-down img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 1200) {
    .nk-img-fit-xl-up,
    .nk-img-fit-xl-up img {
        max-width: 100%;
        height: auto;
    }
}

/*
 * Opacity
 */
.op-0 {
    opacity: 0 !important;
}

.op-1 {
    opacity: 0.1 !important;
}

.op-2 {
    opacity: 0.2 !important;
}

.op-3 {
    opacity: 0.3 !important;
}

.op-4 {
    opacity: 0.4 !important;
}

.op-5 {
    opacity: 0.5 !important;
}

.op-6 {
    opacity: 0.6 !important;
}

.op-7 {
    opacity: 0.7 !important;
}

.op-8 {
    opacity: 0.8 !important;
}

.op-9 {
    opacity: 0.9 !important;
}

.op-10 {
    opacity: 1 !important;
}


/*
 * Keyboard Key
 */
.nk-keyboard {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    padding: 0 7px;
    margin: 5px;
    font-size: 12px;
    line-height: 28px;
    color: #1c1c1c;
    text-align: center;
    background-color: #fff;
    border: 1px solid #9c9c9c;
    border-radius: 3px;
}

/*------------------------------------------------------------------

  Header Title

 -------------------------------------------------------------------*/
.nk-header-title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background-color: #1c1c1c;
    z-index: 0;
}

.nk-header-title .nk-header-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 450px;
    padding-top: 75px;
}

.nk-header-title.nk-header-title-sm .nk-header-table {
    min-height: 350px;
}

.nk-header-title.nk-header-title-md .nk-header-table {
    min-height: 550px;
}

.nk-header-title.nk-header-title-lg .nk-header-table {
    min-height: 650px;
}

.nk-header-title.nk-header-title-xl .nk-header-table {
    min-height: 750px;
}

.nk-header-title.nk-header-title-full .nk-header-table {
    min-height: 100vh;
}

.nk-header-title .nk-header-table-cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    padding: 80px 0;
}

.nk-header-title .nk-sub-title {
    color: inherit;
}

.nk-header-title .nk-header-text-bottom {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(28, 28, 28, 0.4);
}

.nk-header-title.nk-header-title-full .nk-header-text-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.nk-header-title .nk-header-text a:not(.nk-btn):focus,
.nk-header-title .nk-header-text a:not(.nk-btn):hover {
    color: #c18d8d;
    text-decoration: underline;
}

/*------------------------------------------------------------------

  Footer

 -------------------------------------------------------------------*/
.nk-footer {
    position: relative;
    overflow: hidden;
    color: #eee;
    background-color: #262626;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 1;
}

.nk-footer-logo {
    text-align: center;
}

.nk-footer-social {
    text-align: center;
}

.nk-footer-social > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 6px 4px;
    font-size: 1.15rem;
    line-height: 40px;
    color: inherit;
    border: 1px solid;
    border-radius: 20px;
    -webkit-transition: .3s color, .3s background-color, .3s border-color;
    -o-transition: .3s color, .3s background-color, .3s border-color;
    transition: .3s color, .3s background-color, .3s border-color;
    will-change: color, background-color;
}

.nk-footer-social > a:hover, .nk-footer-social > a.hover {
    color: #1c1c1c;
    background-color: #fff;
    border-color: #fff;
}

.nk-footer-social.nk-footer-social-inverted > a:hover, .nk-footer-social.nk-footer-social-inverted > a.hover {
    color: #fff;
    background-color: #1c1c1c;
    border-color: #1c1c1c;
}

.nk-copyright,
.nk-copyright-2 {
    font-size: .95rem;
    color: rgba(255, 255, 255, 0.7);
}

.nk-copyright a,
.nk-copyright-2 a {
    color: #fff;
}

.nk-copyright {
    padding: 2rem 0;
    background-color: rgba(28, 28, 28, 0.6);
}